<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= story.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= story.user_id %>
  </p>

</div>
